html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Project
        link(rel="stylesheet", href="./styles/style.css")
        link(rel="stylesheet", href="./styles/normolize.css")
    body 
        include ./modules/header.pug
        main 
            .container
                section.main-banner
                    .main-banner__img-container 
                        img(src="./assets/IMAGE.png")
                    .main-banner__content 
                        span.main-banner__content-text Illustration
                        h1.main-banner__content-title  Japan House opens in mountainside to foster peak creativity.
                        .main-banner__content-desc Enim omittam qui id, ex quo atqui dictas complectitur. Nec ad timeam accusata, hinc justo falli id eum, ferri novum molestie eos cu.
                        button.main-banner__content-btn  By Reta Torphy
            .containertwo 
                .containertwo__elem 
                    img(src="./assets/foto1.png", alt="")
                    p.containertwo__elem-post Photography
                    h1.containertwo__elem-title Helmut Lang celebrates taxi drivers worldwide in latest campaign
                    span.containertwo__elem-text By Alessandra Ortiz
                .containertwo__elem 
                    img(src="./assets/foto2.png", alt="")
                    p.containertwo__elem-post Photography
                    h1.containertwo__elem-title Bowlcut launch a new summer collection that pays homage to “UK legends”
                    span.containertwo__elem-text By Rosanna Ondricka
                .containertwo__elem 
                    img(src="./assets/foto3.png", alt="")
                    p.containertwo__elem-post Photography
                    h1.containertwo__elem-title Thousands of previously unseen photographs by Andy Warhol will be made public this Autumn
                    span.containertwo__elem-text By Annie Lueilwitz
                .containertwo__elem 
                    img(src="./assets/foto4.png", alt="")
                    p.containertwo__elem-post Interactive Design
                    h1.containertwo__elem-title London-based Yinka Ilori’s storytelling furniture
                    span.containertwo__elem-text By Annie Lueilwitz
                .containertwo__elem 
                    img(src="./assets/foto5.png", alt="")
                    p.containertwo__elem-post Graphic Design
                    h1.containertwo__elem-title Anonymous Israeli art collective Broken Fingaz direct music video for U2 and Beck
                    span.containertwo__elem-text By Simeon Brekke
                .containertwo__elem 
                    img(src="./assets/foto6.png", alt="")
                    p.containertwo__elem-post Architecture
                    h1.containertwo__elem-title Suzanne Saroff’s meticulously arranged photographs alter perceptions
                    span.containertwo__elem-text By Reta Torphy
            p.containerthree1__elem-post LATEST POSTS
            .containerthree 
                .containerththreeree__elem     
                    img(src="./assets/foto7.png", alt="")
                    p.containerthree__elem-post Photography
                    h1.containerthree__elem-title Helmut Lang celebrates taxi drivers worldwide in latest campaign
                    span.containerthree__elem-text By Alessandra Ortiz
                .containerthree__elem 
                    img(src="./assets/foto9.png", alt="")
                    p.containerthree__elem-post Photography
                    h1.containerthree__elem-title Helmut Lang celebrates taxi drivers worldwide in latest campaign
                    span.containerthree__elem-text By Alessandra Ortiz
                .containerthree__elem 
                    img(src="./assets/foto10.png", alt="")
                    p.containerthree__elem-post Photography
                    h1.containerthree__elem-title Bowlcut launch a new summer collection that pays homage to “UK legends”
                    span.containerthree__elem-text By Rosanna Ondricka
                .containerthree__elem 
                    img(src="./assets/foto11.png", alt="")
                    p.containerthree__elem-post Photography
                    h1.containerthree__elem-title Thousands of previously unseen photographs by Andy Warhol will be made public this Autumn
                    span.containerthree__elem-text By Annie Lueilwitz
                .containerthree__elem 
                    img(src="./assets/foto12.png", alt="")
                    p.containerthree__elem-post Interactive Design
                    h1.containerthree__elem-title London-based Yinka Ilori’s storytelling furniture
                    span.containerthree__elem-text By Annie Lueilwitz
                .containerthree__elem 
                    img(src="./assets/foto13.png", alt="")
                    p.containerthree__elem-post Graphic Design
                    h1.containerthree__elem-title Anonymous Israeli art collective Broken Fingaz direct music video for U2 and Beck
                    span.containerthree__elem-text By Simeon Brekke   
                .containerthree__elem 
                    img(src="./assets/foto14.png", alt="")
                    p.containerthree__elem-post Architecture
                    h1.containerthree__elem-title Suzanne Saroff’s meticulously arranged photographs alter perceptions
                    span.containerthree__elem-text By Reta Torphy
                .containerthree__elem 
                    img(src="./assets/foto8.png", alt="")
                    p.containerthree__elem-post Architecture
                    h1.containerthree__elem-title Suzanne Saroff’s meticulously arranged photographs alter perceptions
                    span.containerthree__elem-text By Reta Torphy 
                button view all latest posts 
            p.containerthree1__elem-post featured POSTS 
            .containerfour 
                .containerfour__elem 
                    img(src="./assets/IMAGE (15).png", alt="")
                    p.containerfour__elem-post Graphic Design
                    h1.containerfour__elem-title A Brief History of the FIFA World Cup Logo
                    span.containerfour__elem-text By Clem Onojeghuo
                .containerfour__elem 
                    img(src="./assets/IMAGE (16).png", alt="")
                    p.containerfour__elem-post Graphic Design
                    h1.containerfour__elem-title Need a guide to LA’s graphic design scene? Shoplifters’ new issue has got your back
                    span.containerfour__elem-text By Alessandra Ortiz
                .containerfour__elem 
                    img(src="./assets/IMAGE (17).png", alt="")
                    p.containerfour__elem-post Photography
                    h1.containerfour__elem-title  Fred Rowson directs film for Years and Years
                    span.containerfour__elem-text By Coby Gottlieb
                .containerfour__elem 
                    img(src="./assets/IMAGE (18).png", alt="")
                    p.containerfour__elem-post Illustration
                    h1.containerfour__elem-title  M&C Saatchi and Fontsmith collaborate on font collection for House of St Barnabas
                    span.containerfour__elem-text By Annie Lueilwitz
        include ./modules/footer.pug